/* Ana özellikleri tanımlama ve özellikler sıfırlama */
body{
    --color-primary: rgba(118, 164, 118, 0.5);
    --color-primary-dark: rgba(35, 157, 35);
    --color-secondary: rgb(46, 46, 146, 0.5);
    --color-error: rgb(215, 16, 9);
    --color-succes: rgb(18, 96, 18);
    --border-radius: 5px;
    --color-main: rgb(13, 100, 13);
    --color-companent: rgb(185, 185, 85);
    --color-companent-hover: rgb(176, 45, 190);

    background: linear-gradient(to right, var(--color-primary), var(--color-secondary)), url("bg.jpeg");
    background-attachment: fixed;
    background-size: cover; 

    margin: 0;
    padding: 0;

    height: 100vh;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Ana Taşıcı */
.container{
    width: 400px;
    max-width: 400px;
}
/* Form Alanı*/
.form{
    text-align: center;  
    padding: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    border-radius: var(--border-radius);
    background-color: rgba(250, 250, 250, 0.8);
    
}

.form__title{
    margin-bottom: 1rem;
    margin-top: 0;
}

.form__message{
    color: var(--color-error);
}

.form__input-error-message{
    color: var(--color-error);
    font-size: 0.8rem;
    text-align: left;
    margin-top: 0.5rem;

}
.form__input--group{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form__input{
    width: 100%;
    box-sizing: border-box;
    padding: 0.7rem;
    border-radius: var(--border-radius);
    outline: none;
    border: 2px solid #ddd;
    background-color: #eee;
    transition: background 0.3s, border-color 0.3s;
}
 
.form__input:focus{
    border-color: var(--color-main);
    background-color: white;
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    outline: none;
    background-color: var(--color-companent);
    border-radius: var(--border-radius);

}
.form__button:hover{
    background-color: var(--color-main);
}

.form__button:active{
    transform: scale(0.98);
}

.form__link{
    color: var(--color-primary-dark);
    text-decoration: none;
    cursor: pointer;
    margin: -10px;
}

.form__link:hover{
    color: var(--color-companent-hover); 
    text-decoration: underline;
 }

 .form__text{
    display: flex;
    justify-content: space-between;
    margin: 1rem;

    }

 .form__text_for_all{
    margin: 10px;
 }

 
    

 
    
